@import '~src/scss/abstract';

.search-wrapper {
  position: relative;
  margin-left: 10px;
  @include step-breakpoint('lt-lg') {
    margin-left: 0;
  }
  .search-icon {
    font-size: 20px;
    cursor: pointer;
  }
  .search-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 107px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s linear,opacity 0.2s linear;
    box-shadow: 0 5px 8px -6px rgb($dark, 0.7);
    z-index: 1000;
    @include step-breakpoint('lt-lg') {
      top: 84px;
    }
    &.show {
      visibility: visible;
      opacity: 1;
    }
    .search-overlay {
      position: fixed;
      background-color: rgba($dark, 0.6);
      width: 100%;
      left: 0;
      height: calc(100vh - 107px);
      z-index: -1;
    }
    .search-box {
      background-color: white;
      padding: 16px 12px;
      .input-group {
        .input-group-text {
          background: transparent;
          border: none;
        }
        input {
          border: 0;
          @include desp();
          font-size: 16px;
          &:focus {
            box-shadow: none;
          }
        }
      }
      .btn-close {
        width: 12px;
        height: 12px;
        margin: 0 10px 0 16px;
        font-size: 14px;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .search-results {
    background-color: white;
    padding: 30px 24px 20px 24px;
    border-top: 1px solid rgba($dark, 0.2);
    @include desp();
    .results-box {
      .main-title {
        letter-spacing: 1.2px;
        font-size: 16px;
      }
      .item {
        font-size: 14px;
        font-weight: normal;
        display: inline-block;
        padding: 6px 14px;
        transition: all .15s linear;
        color: $dark;
        text-decoration: none;
        &:hover {
          background-color: map-get($grey, 400);
          transition: all .15s linear;
        }
      }
      .view-all {
        font-size: 14px;
      }
    }
  }
}


