@import '~src/scss/abstract';

.header {
  .navbar {
    position: relative;
    box-shadow: 0 0 6px 1px rgb(#212121, 0.2);
    .navbar-brand {
      padding: 27px 0;
      @include step-breakpoint('lt-lg') {
        padding: 17px 0;
      }
    }
    .navbar-toggler {
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
