
.shadow {
  @include box-shadow(0 8px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.06));
}

.shadow-big {
  @include box-shadow(0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22));
}

.rounded {
  @include border-radius(4px);
}

.rounded-medium {
  @include border-radius(8px);
}

.text-base {
  @include ft-calc($font-base)
}

.text-blue {
  color: map-get($cool-blue, 500)
}

.text-darker {
  color: map-get($cool-blue, 900)
}

.text-grey {
  color: map-get($grey, 600)
}

.text-red-200 {
  color: map-get($cool-red, 200)
}

.text-orange-400 {
  color: map-get($cool-orange, 400)
}

.bg-blue {
  background-color: map-get($cool-blue, 500)
}

.bg-grey {
  background-color: map-get($grey, 200)
}

@each $key,$value in $cool-blue {
  .bg-blue-#{$key} {
    background-color: map-get($cool-blue, $key)
  }
}


$sizes: 2, 4, 6, 8, 10;

@each $value in $sizes {
  .border-radius-#{$value} {
    @include border-radius(#{$value}px);
  }
}


//text colors

@each $key,$value in $slate {
  .text-slate-#{$key} {
    color: map-get($slate, $key)
  }
}

//bg-colors
@each $key,$value in $slate {
  .bg-slate-#{$key} {
    background-color: map-get($slate, $key)
  }
}
